.product-verified {
  color: #065f46; /* text-green-900 */
  font-weight: bold;
  font-size: 1rem; /* default font size (text-base) */
}

@media (max-width: 425px) {
  .product-verified {
    font-size: 14px;
  }
}

@media (max-width: 325px) {
  .product-verified {
    font-size: 12px;
  }
}
